---
layout: default
title: Home
---

<div class="post-cover" style="background: linear-gradient(to bottom, rgba(214, 214, 218, 0) 30%, rgba(214, 214, 218, 1) 100%), url('/images/portrait-wide.jpg') repeat 0 0; background-size: cover; background-position: center;">
  {% include nav.html %}
  <h1 class="lead secondary">Empathetic design</br>for better experiences</h1>
</div>

<div class="posts">

  <h2>Hi, I&rsquo;m Will</h2>

  {% include about-me.html %}

    {% for post in site.tags.featured %}
      <div class="post" style="margin-top: 4rem; margin-bottom: 4rem;">
        <a href="{{ post.url }}">
          <div class="post-cover" style="padding-bottom: 20%; background: linear-gradient(to bottom, rgba(214, 214, 218, 1) 0%, rgba(214, 214, 218, .5) 100%), url('{{ post.picture }}') repeat 0 0; background-size: cover; background-position: center;">
            <h3 class="secondary center-text">Featured project</h3>
            <h2 class="post-title">{{ post.title }}</h2>
            <span class="post-date">{{ post.date | date: "%B, %Y" }}</span>
          </div>
        </a>
        <p>{{ post.excerpt }}</p>
        {% include read-more.html %}
      </div>
    {% endfor %}

    <h3 class="secondary center-text">Latest post</h3>
    {% for post in site.categories.blog | limit: 1 %}
      {% include blog-list-item.html %}
    {% endfor %}

</div>