---
layout: default
title: "Will Millar"
---

.slide.slide-intro
    .slide-txt
        h1.intro-title Will Millar
        h2.intro-subtitle
            | Design for interfaces
            | using research & empathy
        p.intro-aside And a little bit of magic
//            TODO ALIGN BOTTOM
.slide.slide-pillpack
    .slide-txt
        p.slide-lede-txt Product design
        h1 I design software at #[a(href="TODO") PillPack], a service to simplify the experience of managing .
        p.slide-body-txt I work on customer tools, brand marketing, and pharmacy software. I research, design, and code.

.slide.slide-consulting
    .slide-txt
        p.slide-lede-txt UX design consulting
        h1 I've also helped big businesses design better software like the #[a(href="TODO") TD Garden touch wall].
        p.slide-body-txt At SapientNitro, I made usability improvments for Panera Bread online ordering and interviewed users in their homes to help improve the Roomba online store, among other projects.

.slide.slide-past
    .slide-txt
        p.slide-lede-txt And back in school, I worked on
        h1 Interaction concepts & motion graphics

        p.slide-body-txt
            a(href="#") MassArt Degree Project
            a(href="#") Motion Graphics