---
layout: default
title: Will Millar, Experience Designer
---

<h1 class="lead secondary">Empathetic design</br>for better experiences.</h1>

<h3 class="secondary center-text">Featured project</h3>

<div class="posts">
  
  {% for post in site.tags.featured %}
  
  <div class="post">
    
    <h2 class="post-title">
      
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>

    </h2>

    <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>

    {{ post.content }}

  </div>
  {% endfor %}
</div>

<h3 class="secondary center-text">About me</h3>

<img width="500px" height="500px" class="self-portrait" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/394414_2536790622475_940274427_n.jpg" align="middle"/>

<h2>Hi, I&rsquo;m Will</h2>

{% include about-me.html %}