---
layout: default
title: "Will Millar"
---

.slide.slide-intro
    .slide-txt
        h2.intro-subtitle
            | Hi, I'm Will —
            | I design interfaces using
            | research and empathy
        img(src='images/cartoon.png' width='120px')
        p.intro-aside And a little magic
        // TODO ALIGN BOTTOM
.slide.slide-pillpack
    .slide-txt
        h1 These days, I design software at #[a(href="TODO") PillPack], a service to simplify the experience of managing and taking medications.
        p.slide-lede-txt Product design

.slide.slide-consulting
    .slide-txt
        h1 I've also helped big businesses design better software like the #[a(href="TODO") TD Garden touch wall].
        p.slide-lede-txt UX design consulting

.slide.slide-past
    .slide-txt
        h1 And back in school, I made #[a(href="TODO") motion graphics] and #[a(href="TODO") service design concepts].
        p.slide-lede-txt MassArt graphic design
