---
layout: default
title: Projects
---

<div class="posts">
  
  {% for post in site.categories.projects %}
  
<div class="post">
    <div class="post-cover" style="padding-bottom: 20%; background: linear-gradient(to bottom, rgba(220, 220, 223, 1) 0%,
    rgba(220, 220, 223, .7) 100%), url('{{ post.picture }}') repeat 0 0; background-size: cover;">
      <h2 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
      <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
    </div>
    <p>{{ post.excerpt | strip_html }}</p>
    {% include read-more.html %}
  </div>
  {% endfor %}
</div>