---
layout: default
title: Projects
---
{% include nav.html %}
<div class="posts">
  
  {% for post in site.categories.projects %}
  
<div class="post">
    <a href="{{ post.url }}">
      <div class="post-cover" style="padding: 20% 0 2% 0; background: linear-gradient(to bottom, rgba(220, 220, 223, 1) 0%,
      rgba(220, 220, 223, .7) 100%), url('{{ post.picture }}') repeat 0 0; background-size: cover; background-position: center;">
        <h2 class="post-title">{{ post.title }}</h2>
        <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
      </div>
    </a>
    <p>{{ post.excerpt | strip_html }}</p>
    {% include read-more.html %}
  </div>
  {% endfor %}
</div>