<div id="footer">
  <div id="contact">
    <h2>Get in touch</h2>
    <h3>
      <a title="willmillar@gmail.com" href="mailto:willmillar@gmail.com">Email</a>
      <a title="@ideastate" href="http://twitter.com/ideastate">Twitter</a>
      <a title="Will Millar, Experience Designer" href="http://linkedin.com/pub/will-millar/22/20/675">LinkedIn</a>
    </h3>
  </div>
  <div id="footer-links">
    <p><a href="/projects">Projects</a></p>
    <p><a href="/blog">Blog</a></p>
    <p><a href="#">Back to top</a></p>
  </div>
</div>