/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family: "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(237,231,219);
}

img {
  width: 100%;
}

p, ol, ul, nav {
  font-size: 1.25em;
  line-height: 1.75em;
  padding-left: .25em;
  padding-right: .25em;
  padding-bottom: .5em;
}

p, ol, ul {
  max-width: 25em;
  margin: 0 auto 0 auto;
  color: #4A4A4A
}

h1, h2, h3, h4, h5, h6, img {
  max-width: 30em;
  margin: 0 auto 0 auto;
  padding-left: .25em;
  padding-right: .25em;
  color: #4A4A4A;
}

h1 {
  font-weight: 700;
  font-size: 3em;
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: center;
}

#home-page-title {
  opacity: .25;
}

h2 {
  font-size: 1.75em;
  text-align: center;
  margin-top: .25em;
  margin-bottom: .25em;
  opacity: .5;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  opacity: .75;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

h6 {
  text-align: center;
}

a {
  color: #2B93FF;
  text-decoration: none;
}

a:hover,
a:focus {
  opacity: .5;
}

#projects {
  padding-top: 1em;
  padding-bottom: 1em;
}

nav {
  text-align: center;
}

nav a {
  padding: .5em;
}

.center-text {
  text-align: center;
}

#intro-text {
  margin-bottom: 1em;
}

#footer {
  background-color: #fff;
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 3em;
}

#contact h3 a {
  padding: .25em;
}

#footer-links {
  margin-top: 2em;
  text-align: center;
}

small {
  font-size: 80%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.portrait {
  height:80%;
}

.post-hero {
  min-height: 40%;
  padding-top: 30%;
  text-align: center;
}

.post-cover {
  min-height: 60%;
  padding-top: 15%;
  padding-bottom: 2em;
  text-align: center;
}

.post-title {
  color: #4A4A4A;
  font-weight: 700;
  opacity: 1.00;
}

.post-subtitle {
  color: #4A4A4A;
  opacity: .6;
  font-weight: 300;
}

.post-date {
  text-align: center;
}

.post-excerpt {
  color: #4A4A4A;
}

.video { 
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; 
} 

.video iframe, .video object, .video embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.circle {
  border-radius: 9999px;
}

@media (min-width: 320px) {

}