<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">

      {% include nav.html %}

      {{ content }}

      <div id="footer">
        <div class="contact">
          <h1>Get in touch</h2>
          <h2><a href="mailto:willmillar@gmail.com">Email</a>
          &ensp;
          <a href="/">LinkedIn</a>
          &ensp;
          <a href="/">Twitter</a></h2>
        </div>

        <p class="back-to-top"><a href="#">Back to top</a></p>

        <p>
          &copy; Will Millar {{ site.time | date: '%Y' }}. Thanks for stopping by.
        </p>
      </div>
    </div>

  </body>

</html>
