<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">

      {% include nav.html %}

      {{ content }}

      <div id="footer">
        <div class="contact">
          <h2>Get in touch</h2>
          <a href="mailto:willmillar@gmail.com">Email</a>
          <a href="/">Twitter</a>
          <a href="/">LinkedIn</a>
        </div>

        <a href="#" class="back-to-top">Back to top</a>

        <p>
          &copy; Will Millar {{ site.time | date: '%Y' }}. Thanks for stopping by.
        </p>
      </div>
    </div>

  </body>

</html>
