---
---

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$font-stack: "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;

html, body {
  height: 100%;
  font-family: $font-stack;
  background-color: #2C2F31;
}

p, a, h1, h2, h3, h4 {
  color: #BEC7CE;
  white-space: pre-wrap;
}

p, h1, h2, h3, h4 {
  padding-left: 20px;
  padding-right: 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  font-weight: 400;
}

h2 {
  font-size: 5em;
  font-weight: 100;
}

p {
  line-height: 1.75;
}

img { //TODO name class
  margin-top: 20px;
}

.slide-txt {
  width: 36em;
}

.intro-subtitle {
  margin-bottom: 40px;
}

.intro-aside {
  margin-top: 40px;
  margin-bottom: 0;
}

.slide-intro{
  text-align: center;
}
.slide-pillpack {
}

.slide-consulting {
}
.slide-past {
}

.slide-lede-txt {
  margin-top: 10px;
  font-weight: bold;
}

.slide-body-txt {
  padding-bottom: 30px;
}

.footer {
  color: #eee;
  flex-direction: column;
}

.footer-email-txt a {
  color: #bbb;
  white-space: normal;
}

.footer-name-txt {
  margin-bottom: 0;
}

.footer-salutation-txt {
  margin-top: 0;
}